@charset "UT-8";

:root {
    --lol: #2e2f2e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    width: 100vw;
    height: 100vh;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

.separator{
        font-size:'16px';
        color: #a8a8b3;
        display: flex;
        margin: 32px 0;
        align-items: center;
}

.separator::before {
    content: '';
    width: 5.5rem;
    height: 1px;
    background: #a8a8b3;
    margin-right: 16px;
}

.separator::after {
    content: '';
    width: 5.5rem;
    height: 1px;
    background: #a8a8b3;
    margin-left: 16px;
}
