@charset "UTF-8";

:root {
    --gray: #a8a8b3;
    --dark-gray: #737380;
    --red: #e20d0d;
    --green: #00c821;
    --transparent: rgba(0,0,0,0);
    --no-script: #f8f8f8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    width: 100vw;
    height: 100vh;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

.separator{
        font-size:'16px';
        color: var(--gray);
        display: flex;
        margin: 32px 0;
        align-items: center;
}

.separator::before {
    content: '';
    width: 5.5rem;
    height: 1px;
    background: var(--gray);
    margin-right: 16px;
}

.separator::after {
    content: '';
    width: 5.5rem;
    height: 1px;
    background: var(--gray);
    margin-left: 16px;
}

.main ::-webkit-scrollbar {
    background: var(--transparent);
}

button:hover, #likebtn:hover, #highlightbtn:hover, #deletebtn:hover {
    filter: brightness(.75);
}

button:disabled {
    cursor: not-allowed;
}

#answered:hover {
    border: 1px solid #7f37d1;
    background: #d5b7f8;
}
