@charset "UTF-8";

.homeContainer {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}

.homeLeft {
    height: 100vh;
    width: 40vw;
    background-repeat: no-repeat;
}

.homeRight {
    height: 100vh;
    width: 60vw;
}